<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineMCQ.styles.css" asp-append-version="true" />
    <link href="~/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/css/toptimestyle.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />


    @await RenderSectionAsync("Styles", false)
</head>
<body> 
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom fixed-top shadow">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/AcademicImage/Logo/2.png" alt="Logo" class="navbar-logo" />
                    <span class="navbar-brand fw-bold">Basic Academic</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" href="/#teacher">Teachers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" href="/#gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" href="/#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" href="/#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" asp-action="PublicNotices" asp-controller="Notice">Notice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-bolder" asp-area="" asp-controller="MCQ" asp-action="StartTest">Start Exam</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link fw-bolder" asp-controller="Admin" asp-action="AdminDashboard">Admin Panel</a>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="Logout" method="post">
                                    <button type="submit" class="nav-link btn btn-link fw-bolder text-white">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link fw-bolder" asp-controller="Account" asp-action="Login">Admin</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid pt-5 mt-5">
        <main class="container pb-3">
            @RenderBody()
        </main>
    </div>

    @* Footer container এর বাইরে রাখুন *@
    @if (Context.Request.Path == "/")
    {
        @* <footer class="footer mt-auto border-top text-center">
            <div class="footer-container">
                Copyright &copy; @DateTime.Now.Year Basic Academic Coaching | All Rights Reserved.
                <p class="float-end">Develop by S. M. Raju</p>
            </div>
        </footer> *@
        <footer class="py-4 mt-auto" style="background-color:#001F54">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="m-0 text-white">Copyright &copy; @DateTime.Now.Year Basic Academic Coaching | All Rights Reserved.</div></div>
                    <div class="col-auto">
                        <a class="text-white text-decoration-none" href="#!">Develop by S. M. Raju</a>
                        <span class="text-white mx-1"></span>
                        
                    </div>
                </div>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>