wwwroot/* linguist-vendored
assets/* linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.html linguist-vendored
*.json linguist-vendored
*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored
*.svg linguist-vendored

*.cs linguist-detectable
*.cshtml linguist-detectable
*.razor linguist-detectable
