@model OnlineMCQ.Models.Question

@{
    ViewData["Title"] = "CreateQuestion";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="text-center">
    <h3>Create New Question</h3>

</div>


<form asp-action="CreateQuestion" method="post">
    <div class="form-group">
        <label>Question</label>
        <input type="text" asp-for="QuestionText" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Option 1</label>
        <input type="text" asp-for="OptionA" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Option 2</label>
        <input type="text" asp-for="OptionB" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Option 3</label>
        <input type="text" asp-for="OptionC" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Option 4</label>
        <input type="text" asp-for="OptionD" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Correct Answer (1 - 4)</label>
        <input type="number" asp-for="CorrectAnswer" class="form-control" required min="1" max="4" />
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="QuestionList" class="btn btn-dark">Back to List</a>
    </div>
   
</form>
