@model OnlineMCQ.Models.ExamSetting
@{
    ViewData["Title"] = "Exam Time Setting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Setup Exam Time</h2>

<form method="post">
    <div class="form-group">
        <label>Exam Time (Min)</label>
        <input type="number" name="DurationInMinutes" class="form-control" value="@Model.DurationInMinutes" required />
    </div>

    <div class="mt-2">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="QuestionList" class="btn btn-dark">Back to List</a>
    </div>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3">@ViewBag.Message</div>
}
