@{
    ViewData["Title"] = "Home Page";
}



 <div>
    <!-- Fixed News Ticker Style Top Bar -->
    <div id="fixedTickerBar">
        <div id="tickerContent">লোড হচ্ছে...</div>
    </div>

    @* Carousel Begin  *@

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="/AcademicImage/5.jpg" class="d-block" alt="..." width="100%" height="700px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="/AcademicImage/7.jpg" class="d-block" alt="..." width="100%" height="700px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/AcademicImage/15.jpg" class="d-block" alt="..." width="100%" height="700px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    @* Carousel End  *@

    <div class="container marketing mt-3">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Syed Afridi Khan Bappy</h2>
                <div class="text-white card-body rounded-3" style="background-color:darkblue">
                    <p> <i class="bi bi-mortarboard-fill"></i> Bachelor : Bsc in Mathematics from Uttara University</p>
                    <p><i class="bi bi-diagram-2-fill"></i> Special Subject : Math </p>
                    <p><i class="bi bi-geo-alt-fill"></i> Dhaka, Bangladesh</p>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Syed Afridi Khan Bappy</h2>
                <div class="text-white card-body rounded-3" style="background-color:darkblue">
                    <p> <i class="bi bi-mortarboard-fill"></i> Bachelor : Bsc in Mathematics from Uttara University</p>
                    <p><i class="bi bi-diagram-2-fill"></i> Special Subject : Math </p>
                    <p><i class="bi bi-geo-alt-fill"></i> Dhaka, Bangladesh</p>

                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Syed Afridi Khan Bappy</h2>
                <div class="text-white card-body rounded-3" style="background-color:darkblue">
                    <p> <i class="bi bi-mortarboard-fill"></i> Bachelor : Bsc in Mathematics from Uttara University</p>
                    <p><i class="bi bi-diagram-2-fill"></i> Special Subject : Math </p>
                    <p><i class="bi bi-geo-alt-fill"></i> Dhaka, Bangladesh</p>
                </div>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

    </div><!-- /.container -->

    @* //Image Gallery Begin *@
    <div class="album py-5 bg-light mt-3">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/1.jpg"  alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/9.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/10.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/11.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/12.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/14.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                               
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/3.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/4.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="/AcademicImage/6.jpg" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" />                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* //Image Gallery End *@


    <!-- START THE FEATURETTES -->
    <div class="container-marketing">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

    </div>
    <!-- /END THE FEATURETTES -->

</div>

@section Scripts{
    <script>
        function convertToBanglaDigits(number) {
            const banglaDigits = ['০', '১', '২', '৩', '৪', '৫', '৬', '৭', '৮', '৯'];
            return number.toString().split('').map(d => banglaDigits[d] || d).join('');
        }

        function getBanglaDate(date) {
            const banglaMonths = ["বৈশাখ", "জ্যৈষ্ঠ", "আষাঢ়", "শ্রাবণ", "ভাদ্র", "আশ্বিন", "কার্তিক", "অগ্রহায়ণ", "পৌষ", "মাঘ", "ফাল্গুন", "চৈত্র"];
            const day = convertToBanglaDigits(date.getDate());
            const month = banglaMonths[date.getMonth() % 12];
            const year = convertToBanglaDigits(date.getFullYear());
            return `বাংলা: ${day} ${month}, ${year}`;
        }

        function getEnglishDate(date) {
            return `English: ${date.toLocaleDateString('en-US', {
                weekday: 'long',
                year: 'numeric',
                month: 'long',
                day: 'numeric',
                timeZone: 'Asia/Dhaka'
            })}`;
        }

        function getEnglishTime(date) {
            return `Time: ${date.toLocaleTimeString('en-US', { timeZone: 'Asia/Dhaka' })}`;
        }

        async function fetchHijriDate() {
            try {
                const response = await fetch("https://api.aladhan.com/v1/gToH?latitude=23.8103&longitude=90.4125&method=2&adjustment=0&timezonestring=Asia/Dhaka");
                const data = await response.json();
                const hijri = data.data.hijri;
                return `Hijri: ${hijri.day} ${hijri.month.en}, ${hijri.year}`;
            } catch (error) {
                console.error("Hijri fetch error:", error);
                return "Hijri: Error loading";
            }
        }

        async function updateTicker() {
            const now = new Date();
            const bangla = getBanglaDate(now);
            const eng = getEnglishDate(now);
            const time = getEnglishTime(now);
            const hijri = await fetchHijriDate();

            const fullText = `${bangla} | ${eng} | ${hijri} | ${time}`;
            document.getElementById('tickerContent').innerText = fullText;
        }

        document.addEventListener("DOMContentLoaded", function () {
            updateTicker();
            setInterval(updateTicker, 60000); // প্রতি ১ মিনিটে আপডেট
        });
    </script>

}
  

 

   


